/* variables */




/*  defaults  */
body {
  background-image:url("portfolios/DSC_0673.JPG");

  font-family: 'Trebuchet MS', Helvetica, 'Segoe UI', Tahoma, Verdana, sans-serif
}
img {max-width: 60%;
;}

h1 {color: purple;
font size:80px;
font-family: verdana, cursive;
font-weight: Italic;  }

h2 {color: rosybrown;
font size: 40px;
font-family: Tahoma;}

img,
video {
  max-width: 40%;
 align-content: center;
}


/* header  */

header {
  background-color: pink;
  padding: 100px;
}

.header-text {
  color: blue;
  font-size: 100px; 
  text-align: center;
  font-weight: bold;
  font-family: 'san-serif', 'italics'

}

.header-sub-text {
  color:purple;
  font-size: 50px;
  text-align: center;
}


/* footer */

/* sections */
section {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  margin-bottom: 50px;
  padding: 20px;
}

.intro {
  background-color: pink;
}

@media screen and (min-width: 800px) {

  .intro {
      background-color: lightgrey;
  }
      
}

.content {
  background-color: yellow;
}

.final {
  background-color: pink
}
h4{color: Black;
Font-size:40px;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

/* forms */
